.navbar-container {
  position: sticky;
  overflow: hidden;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.layout-container {
  position: relative;
  display: grid;
  grid-template-columns: 3fr;
  overflow: auto!;
  height: 100%;
  /* height: calc(var(--vh, 1vh) * 100); */
}

.footer-container {
  position: sticky;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: start;
  overflow: auto;
  height: 5rem;
  padding: 1.25rem;
}
